/* src/styles/calendar.css */

/* Light Mode (default) */
.react-calendar {
  @apply w-full bg-white border-none rounded-lg font-sans p-4 text-slate-800;
}

.react-calendar__tile {
  @apply py-2 px-1 text-center rounded-md transition-colors duration-300;
}

.react-calendar__tile--now {
  @apply bg-blue-50 text-blue-700 font-semibold !important;
}

.react-calendar__tile--active {
  @apply bg-blue-500 text-white !important;
}

.react-calendar__tile:hover {
  @apply bg-indigo-100;
}

.react-calendar__tile abbr {
  @apply font-medium text-sm;
}

/* DARK MODE OVERRIDES */
.dark .react-calendar {
  @apply bg-slate-800 text-slate-50;
}

.dark .react-calendar__tile {
  @apply text-slate-100;
}

.dark .react-calendar__tile--now {
  @apply bg-slate-700 text-blue-300 !important;
}

.dark .react-calendar__tile--active {
  @apply bg-blue-600 text-white !important;
}

.dark .react-calendar__tile:hover {
  @apply bg-slate-600;
}

.dark .react-calendar__tile abbr {
  @apply text-slate-200;
}
