@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-light-animated-gradient {
    background-image: linear-gradient(270deg, #93c5fd, #c4b5fd, #fcd34d);
    background-size: 400% 400%;
  }

  .bg-dark-animated-gradient {
    background-image: linear-gradient(270deg, #1e293b, #334155, #0f172a);
    background-size: 400% 400%;
  }

  @keyframes gradient-x {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .animate-gradient-x {
    animation: gradient-x 12s ease infinite;
  }
}


html, body {
  @apply min-h-screen text-black transition-colors duration-300 dark:bg-slate-900 dark:text-white;
}

.app-background {
  @apply min-h-screen text-gray-900 dark:text-white transition-colors duration-300 bg-cover bg-no-repeat;
  @apply bg-light-animated-gradient dark:bg-dark-animated-gradient;
}
