@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4">Bienvenido a TaskManagerApp</h1>
            <p class="lead">Gestiona tus tareas de manera eficiente y organizada.</p>
            <div class="mt-4">
                <a class="btn btn-primary btn-lg mr-2" asp-controller="Task" asp-action="Index">Ver Tareas</a>
                <a class="btn btn-outline-primary btn-lg" asp-controller="Task" asp-action="Create">Crear Nueva Tarea</a>
            </div>
        </div>
    </div>
</div>